body{
    background-image: url('bg.jpg');
    background-size: 100vw 100vh;
    margin:0;
    min-height: 100vh;

}
.toolbar{
    position: absolute;
    bottom: 2px;
    width:100%;
    display:flex ;
    flex-direction: column;
}
.buttons{
    box-shadow: 5px 7px 10px 0 black;
    transition: all 0.5s linear;
    height: 40px;
    margin-top: 10px;
    background-image: url('texturewood.jpg');
    background-size:900px 100px;
    border: solid 1px rgba(0, 0, 0, 0.274);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}
.checkdate{
    padding: 2px;
        border-radius: 15px;
        font-family: Calibri;
        width:140px;
        font-size: 16px;
}

.addboat, .add,.check{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    font-size: 16px;
    font-family: Calibri;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.check{
    position: relative;
    left: 5px;
}
.add{
    position: relative;
    right: 5px;
}
.hidebtn{
    position: absolute;
    right: 35px;
    border-radius: 100%;
    height: 26px;
    width: 25px;
    background-color: rgb(199, 188, 41);
}
.dltbtn{
    position: absolute;
    right: 5px;
    border-radius: 100%;
    height: 26px;
    width: 25px;
    background-color: rgb(173, 33, 33);
}
.date{
    margin-bottom: 10px;
}
.contboat{
    box-shadow: 5px 7px 10px 0 black;
    transition: all 0.5s linear;
    visibility: hidden;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('texturewood.jpg');
    background-size:900px 100px;
    border: solid 1px rgba(0, 0, 0, 0.274);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom:10px;
    position: relative;
    left: calc(50% - 125px);
    width: 250px;
}
.contents{
    margin-top:10px;
}
.addboat, .boat, .texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name,.capacity,.port,.length,.submit{
    margin: 5px 0 0 5px;
}
.name,.capacity,.port,.length{
    border-radius: 20px;
    height: 25px;
}
.boatimage{
    box-shadow: 5px 7px 10px 0 black;
    border-radius: 25px;
    height:80px;
    width:100px;
}
.domboat{
    transition: all 0.5s linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    box-shadow: 5px 7px 10px 0 black;
    justify-content: center;
    transition: all 0.5s linear;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    width:100%;
    margin:0;
    height: 40px;
    background-image: url('texturewood.jpg');
    background-size:900px 100px;
    border: solid 1px rgba(0, 0, 0, 0.274);
    font-family: sans-serif;
    font-size: 16px;
}
h2:hover{
    color: black;
    background-color: rgb(255, 255, 255);
}
.contentdiv{
    transition: height 0.5s linear;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width:100%;
    background: linear-gradient(180deg,rgba(12, 12, 12, 0.8),rgba(0,0,0,0.0));
}
.contpar{
    background-image: url('papertexture.jpg');
    background-size: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:80px;
    width:300px;
    margin-left: 10px;
    background-color: white;
    left: calc(50% - 70px);
    box-shadow: 5px 7px 10px 0 black;
    border-radius: 10px;
}
.paragraph{
    margin:0;
    margin-top: 2px;
    margin-bottom:2px;
    margin-left: 10px;
    font-family: Calibri;
    font-size: 16px;
}
.submit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Calibri;
    border-radius: 50%;
    font-size: 16px;
    width: 30px;
    height: 30px;
}
.contboat:hover, .buttons:hover{
    background-color: white;
}
span{
    box-shadow: 5px 7px 10px 0 black;
    color: white;
    border-radius: 10px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('goldbar.jpg');
    background-size: 200px;
    min-width: 120px;
}
@media screen and (max-width: 400px) {
    .paragraph{
        font-size: 12px;
    }
}